.clientBackground{
    background-image: url('../Admin/stars.jpeg');
    padding-bottom: 282px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
.bigContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.container{
    height: 400px;
    width: 300px;
    background: white;
    border-radius: 30px;
    border-color: black;
    display: flex;
    flex-direction: column;
}
.headers{
    padding-bottom: 20px;
}

h1{
    color:black;
    text-align: center;
}
.checkboxes{
    padding: 10px;
    
}
Form{
    padding:10px;
    
}
FormControl{
    padding:10px;
}