
.allOfIt{
    background-image: url('../../assets/heavenlyWritingBkrnd3.jpg');
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Lato", sans-serif;
    color: white;
}
.bigContainer{
    background: white;
    border: 2px solid;
    border-radius: 25px;
    height: 500px;
    width: 1400px;
    color: black;
}
.rightSideContainer{
    float: right;
    height: 500px;
    width: 1380px;
    background: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.leftSideContainer{
    float: left;
    background: #d1d1d1;
    width: 800px;
    height: 500px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 150px;
    padding-left: 30px;
    text-align: center;
}
.keyWord{
    color: #483475;
    font-weight:bold;
}
.overflow-auto{
    width: 800px;
    height: 380px;
}