

.signUp{
    text-align: center;
    background: #001428;

    color: #FFFFFF;

    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;

    padding-bottom: 300px;
}

.row1{

    padding-top: 30px;
    padding-bottom: 20px;
}

.row2{
    padding-bottom: 20px;
}

.row3{
    padding-bottom: 20px;
}

.row4{
    padding-bottom: 20px;
}

.submitButton{
    padding-top: 20px;
}




input[type="text"], textarea {

    background-color : #d1d1d1;

}

input[type="tel"], textarea {

    background-color : #d1d1d1;

}

input[type="email"], textarea {

    background-color : #d1d1d1;

}

input[type="time"], textarea {

    background-color : #d1d1d1;

}


input[type="password"], textarea {

    background-color : #d1d1d1;

}

input[type="date"], textarea {

    background-color : #d1d1d1;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #483475 !important;
}