body {
    font-family: "Lato", sans-serif;
}

.container{

    padding-top: 20px;
    background: white;

    border: 2px solid;
    border-radius: 25px;
}

.signUp{
    text-align: center;
    background-image: url('../../assets/heavenlyWritingBkrnd3.jpg');

    color: black;

    height: 100%;
    padding-bottom: 100px;
    padding-top: 75px;
}

.row1{

    padding-top: 10px;
    padding-bottom: 20px;
}

.row2{
    padding-bottom: 20px;
}

.row3{
    padding-bottom: 20px;
}

.row4{
    padding-bottom: 20px;
}

.submitButton{
    padding-top: 20px;
    padding-bottom: 10px;
}




input[type="text"], textarea {

    background-color : #d1d1d1;

}

input[type="tel"], textarea {

    background-color : #d1d1d1;

}

input[type="email"], textarea {

    background-color : #d1d1d1;

}

input[type="time"], textarea {

    background-color : #d1d1d1;

}


input[type="password"], textarea {

    background-color : #d1d1d1;

}

input[type="date"], textarea {

    background-color : #d1d1d1;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #483475 !important;
}